* {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html,
body {
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #fafafa;
  font-size: 14px;

  @media screen and(min-width:451px) {
    justify-content: space-around;
  }

  .main {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    @media screen and(max-width:451px) {
      margin-top: 0px;
    }
    margin-top: 42px;

    .mockup {
      margin-right: 16px;
      img {
        width: 100%;
        transform: translateY(-8px);
      }

      @media screen and (max-width: 875px) {
        display: none;
      }
    }

    .form {
      width: fit-content;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      .logo {
        margin: 0px auto 32px;
        width: 220px;
        height: 60px;
        background: url('./img/ig-logo.png') no-repeat center 100%;
        @media screen and(max-width:451px) {
          background: url('./img/ig-logo2.png') no-repeat center 100%;
        }
      }
      .card {
        width: 360px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding: 24px 45px;
        font-size: 1rem;

        @media screen and(min-width:451px) {
          background-color: #ffffff;
          border: 1px solid lightgrey;
        }

        &:nth-child(2) {
          margin-top: 12px;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
        }

        input {
          width: 100%;
          background-color: #fafafa;
          border-radius: 2px;
          border: 0.5px solid rgb(224, 224, 224);

          padding: 10px 8px;
          margin: 0px;

          & + input {
            margin-top: 7px;
          }

          &:focus {
            outline: none;
          }

          &::placeholder {
            font-size: 0.9rem;
            font-weight: 300;
          }
        }

        button {
          width: 100%;
          margin-top: 16px;
          border: none;
          background-color: #0095f7;
          color: white;
          padding: 6px 8px;
          border-radius: 4px;
          font-weight: 500;
          font-size: 1.15rem;

          &:active {
            opacity: 0.7;
          }

          &:disabled {
            opacity: 0.3;
          }
        }

        .divider {
          width: 100%;
          height: 10px;

          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;

          margin: 18px 0px 14px;

          font-size: 1rem;
          color: #8f90a6;
          font-weight: 500;
          text-transform: uppercase;

          .divider-row {
            background-color: #8f90a6;
            width: 40%;
            height: 1px;
          }
        }

        .facebook-login {
          width: 100%;
          color: #385185;
          cursor: pointer;
          width: 100%;
          text-align: center;
          margin: 16px 0px 0px 0px;
          font-weight: 500;
          font-size: 1.1rem;
          i {
            margin-right: 4px;
          }
        }

        .forgot-password {
          width: 100%;
          color: #385185;
          cursor: pointer;
          width: 100%;
          text-align: center;
          margin-top: 14px;
          font-weight: 300;
          font-size: 0.9rem;
        }

        .sign-up {
          cursor: pointer;
          margin-left: 4px;
          color: #0095f7;
          font-weight: 500;
          font-size: 1rem;
        }
      }

      .get-app {
        width: 100%;
        text-align: center;
        padding: 16px;
        font-size: 1rem;
        margin-top: 0px;
        // margin-bottom: 42px;

        .get-app-imgs {
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          margin-top: 22px;

          img {
            width: 130px;
            cursor: pointer;

            & + img {
              margin-left: 8px;
            }
          }
        }
      }
    }
  }

  .footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 48px 0px 62px;

    .row {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;

      font-size: 0.9rem;
      color: #8f90a6;

      & + .row {
        margin-top: 16px;
      }

      a {
        font-size: 0.9rem;
        color: #8f90a6;
        text-decoration: none;
        margin: 4px 10px;
      }

      select {
        cursor: pointer;
        width: 65px;
        max-width: min-content;
        background: transparent;
        border: none;
        margin-right: 16px;
        font-size: 0.9rem;
        color: #8f90a6;

        &:focus {
          outline: none;
        }

        option {
          width: fit-content;
        }
      }
    }
  }
}
